body {
    color: white;
    font-family: Arial, sans-serif;
    background-image: url('../imagini/New\ Project.png');
}

#checkboxmeniu {
    display: none;
}

/* butonul */
.butonprincipal {
    font-size: 35px;
    color: white;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

/* meniul lateral */
.meniu-principal {
    position: fixed;
    top: 0;
    left: -250px;        /* ascuns în stânga */
    width: 250px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.meniu-principal a {
    display: block;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
}

.meniu-principal a:hover {
    background: #333;
}

#checkboxmeniu:checked + .butonprincipal + .meniu-principal {
    left: 0;
}

main {
    display: flex;
    padding-left: 30px;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.sidebar {
    width: 15%;
    margin-top: 11%;
    background-color:#212121; 
    padding: 10px 0;
    border-radius: 20px; 
    margin-left: 8%;
    margin-right: 50px; 
    height: fit-content;
}

.nav-links {
    list-style: none;
    font-size: 20px;
}

.nav-links li {
    padding: 15px 7px;
    cursor: pointer;
}

.nav-links li:hover {
    color: #fbc35d;
}

.content-text {
    margin-top: 8%;
    padding: 50px;
}

.info-block {
    max-width: 1000px;
}

.info-block h1 {
    font-size: 1.8em;
    margin-bottom: 25px;
}

.info-block p {
    margin-bottom: 20px;
    color:#c7c7c7;
}

.info-block ul {
    margin-bottom: 50px;
    color:#c7c7c7;
}

.info-block ul li {
    margin-bottom: 10px;
    margin-left: 35px;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
  color: #fff;
  background-color: #25282b;
  padding: 20px;
  border-radius: 5px;
}
footer p{
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: left;
}
footer br{
  margin-top: 10px;
}
.logof{
  margin-top: 60px;
  margin-right: 30px;
  margin-left: 50px;
}
.colf{
  margin-left: 100px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.brf{
  opacity: 50%;
}