body {
    color: white;
    font-family: Arial, sans-serif;
    background-image: url('../imagini/New\ Project.png');
}

main {
    display: flex;
    padding-left: 30px;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.sidebar {
    width: 15%;
    margin-top: 11%;
    background-color:#212121; 
    padding: 10px 0;
    border-radius: 20px; 
    margin-left: 8%;
    margin-right: 50px; 
    height: fit-content;
}

.nav-links {
    list-style: none;
    font-size: 20px;
}

.nav-links li {
    padding: 15px 7px;
    cursor: pointer;
}

.nav-links li:hover {
    color: #fbc35d;
}

.content-text {
    margin-top: 8%;
    padding: 50px;
}

.info-block {
    max-width: 1000px;
}

.info-block h1 {
    font-size: 1.8em;
    margin-bottom: 25px;
}

.info-block p {
    margin-bottom: 20px;
    color:#c7c7c7;
}

.info-block ul {
    margin-bottom: 50px;
    color:#c7c7c7;
}

.info-block ul li {
    margin-bottom: 10px;
    margin-left: 35px;
}
