h1{
    font-size: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9f9f9;
}

body{
    background-image: url('imagini/imaginefundal.png');
    margin-top: 5%;
}

#checkboxmeniu {
    display: none;
}

.butonprincipal {
    font-size: 35px;
    color: white;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.meniu-principal {
    position: fixed;
    top: 0;
    left: -250px;       
    width: 250px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.meniu-principal a {
    display: block;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
}

.meniu-principal a:hover {
    background: #333;
}

#checkboxmeniu:checked + .butonprincipal + .meniu-principal {
    left: 0;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 35%;
    margin: 0 auto;
    text-align: left;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 15px;
    background-color: #6a6a6a;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #000000;
}
