/* Fundal cu overlay întunecat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*text-align: center;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('imagini/imaginefundal.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#checkboxmeniu {
    display: none;
}

/* butonul */
.butonprincipal {
    font-size: 35px;
    color: white;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

/* meniul lateral */
.meniu-principal {
    position: fixed;
    top: 0;
    left: -250px;        /* ascuns în stânga */
    width: 250px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.meniu-principal a {
    display: block;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
}

.meniu-principal a:hover {
    background: #333;
}

#checkboxmeniu:checked + .butonprincipal + .meniu-principal {
    left: 0;
}

/* Titlul */
.titlu {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: #fbc35d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

/* Butoane meniu navigare */
.nav-center {
    padding: 1%;
    text-align: center;
    margin-top: 1%;
}

/* Stil pentru butoanele de navigare */
.btn-nav {
    display: inline-block;
    margin: 0px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 3%;
    background-color: #221702;
    border-radius: 5px;
    transition: background-color 0.3s;
    opacity: 60%;
}

.btn-nav:hover {
    background-color: #221702;
    opacity: 100%;
}

/* Poze din meniu */

.meniu-grupa img {
    margin: 10px 10px ;
    
}

/* Titluri de categorii */
h2 {
  font-size: 32px;
  margin-top: 50px;
  border-bottom: 2px solid #5e3f05;
  display: inline-block;
  padding-bottom: 5px;
  opacity: 50%;
}

/* Container pentru fiecare categorie */
.meniu-grupa {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Card individual de produs */
.produs {
  display: flex;
  width: calc(50% - 30px); /* cate carduri pe rând (2) */
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.produs:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Imaginea produsului */
.produs img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Descriere produs */
.produs p {
  margin: 10px 0 0;
  /*font-size: 16px;*/
}
/* text din container*/
.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}

.pret{
  color: #fbc35d;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.titluprodus{
  font-weight: bolder;
  font-size: 30px;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
  color: #fff;
  background-color: #25282b;
  padding: 20px;
  border-radius: 5px;
}
footer p{
  font-weight: bolder;
  margin-bottom: 30px;
  font-size: 35px;
  text-align: left;
}
footer br{
  margin-top: 10px;
}
.logof{
  margin-top: 60px;
  margin-right: 30px;
  margin-left: 50px;
}
.colf{
  margin-left: 100px;
  font-size: larger;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.brf{
  opacity: 50%;
}