/* Fundal cu overlay întunecat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('imagini/imaginefundal.png');
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Titlul */
.titlu {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: #fbc35d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /*efect de umbră */

}

/* Butoane meniu navigare */
.nav-center {
    padding: 1%;
    text-align: center;
    margin-top: 1%;
}

/* Stil pentru butoanele de navigare */
.btn-nav {
    display: inline-block;
    margin: 0px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 3%;
    background-color: #221702;
    border-radius: 5px;
    transition: background-color 0.3s;
    opacity: 60%;
}

.btn-nav:hover {
    background-color: #221702;
    opacity: 100%;
}

/* Poze din meniu */

.meniu-grupa img {
    margin: 10px 10px ;
}

/* Titluri de categorii */
h2 {
  font-size: 32px;
  margin-top: 50px;
  border-bottom: 2px solid #5e3f05;
  display: inline-block;
  padding-bottom: 5px;
  opacity: 50%;
}

/* Container pentru fiecare categorie */
.meniu-grupa {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Card individual de produs */
.produs {
  width: calc(50% - 30px); /* cate carduri pe rând (2) */
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.produs:hover {
  transform: scale(1.05);
}

/* Imaginea produsului */
.produs img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Descriere produs */
.produs p {
  margin: 12px 0 0;
  font-size: 16px;
}
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1em;
    color: #fff;
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 5px;
}