
#Video {
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table;
  margin-inline: auto;
      max-width: 100%;
  height: auto;
}
.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text h1 {
  font-size: 60px;
  margin: 0;
}
.text a {
  font-size: 20px;
  color:rgb(226, 58, 29) ;
  text-decoration: none;
}
.text a:hover{
  text-decoration: underline;
}
.contact {
  position: fixed;
  bottom: 0%;
  width: 100%;
  left: 0%;
  text-align: center;
  padding: 0 0;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.596);
  }    