body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-background {
    background: url('imagini/carrent.jpg') no-repeat center center/cover;
    padding: 110px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

<<<<<<< HEAD
.header-background a {
    text-decoration: none;
    color: white;
    display: inline;
} 

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


=======
nav {
    border-top: 4px solid rgba(7, 90, 7, 0.877);
    border-bottom: 4px solid rgba(7, 90, 7, 0.877);
    width: 1200px;
    padding: 15px;
    margin: auto;
}

>>>>>>> aab1641f9092d1d29df0c9f8f8a1853c74670699
.car-categories {
    text-align: center;
    margin: 20px 0;
}

<<<<<<< HEAD
.car-categories button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
} 

.car-categories button:hover {
    background: #0056b3;
}

=======
>>>>>>> aab1641f9092d1d29df0c9f8f8a1853c74670699
.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.car {
   background: white; 
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
<<<<<<< HEAD
    width: 200px;

=======
    width: 220px;
>>>>>>> aab1641f9092d1d29df0c9f8f8a1853c74670699
}

.car img {
    max-width: 150%;
    border-radius: 5px;
    border: 5px solid transparent;
    border-color: aquamarine;
}

.car-button {
    display: inline-block;
    background: #333;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
} 

h3 {
    text-align: center;
    margin-left: 15px;
    color: #333;
}

<<<<<<< HEAD
footer {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

=======
#maintitle {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px #05212cda;;
}

.navigation {
    display: inline;
    padding: 100px;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.option_nav  {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    color: aliceblue;
    text-shadow:
                -1px -1px 0 #000000c4,
                1px -1px 0 #000000c4,
                -1px 1px 0 #000000c4,
                1px 1px 0 #000000c4,
                -2px 0px 0 #000000c4,
                2px 0px 0 #000000c4,
                0px -2px 0 #000000c4,
                0px 2px 0 #000000c4;
}

.home_list {
    position: relative;
    display: inline-block;
}

.home-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.home-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 80%;
}

/* Change color of dropdown links on hover */
.home-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.home_list:hover .home-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.option_nav:hover {
    background-color: #3e8e41;
}
>>>>>>> aab1641f9092d1d29df0c9f8f8a1853c74670699

