body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header-background {
    background: url('carernt.jpg') no-repeat center center/cover;
    padding: 110px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



nav ul li {
    display: inline;
}


.car-categories {
    text-align: center;
    margin: 20px 0;
}



.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.car {
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.car img {
    max-width: 100%;
    border-radius: 5px;
}

h3 {
    text-align: center;
    margin-left: 15px;
    color: #333;
}

