/*!!!!!!!!!!!!!!!!Indeparteaza Marginea Automata body!!!!!!!!!!!!!!!!*/
body {
  margin: 0;
}

/*________________________Stilizare Sidebar De Naviare________________________*/

* {
  font-family: "Open Sans", Arial, sans-serif;
}

#header_navigation * {
  height: 80px;
}

nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

nav li a:hover {
  text-shadow: 1px 1px 2px aqua;
  color: gray;
}

nav li:first-child a {
  color: rgb(207, 139, 12);
}

.page_navigation ul li {
  white-space: nowrap;
}

.page_navigation ul li {
  padding-top: 30px;
  /*Paddingul Sa Nu Afecteze Inaltimea Sidebarului*/
  box-sizing: border-box;
}

.page_navigation ul {
  list-style-type: none;
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0px;
  padding-right: 20px;
}

#header_navigation {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

#content_container {
  width: fit-content;
  margin: auto;
}

#navigation_sidebar {
  /*Setare Bara De Navigare Sa Se Miste In Timp Ce Scrollam*/
  background-color: white;
  position: sticky;
  top: 0px;
  /*Creare Bordura Fina Sub Sidebar De Navigare*/
  border-bottom: 1px solid brown;
}

/*_______________________Stilizarea Sectiuni Ce Include Motto-ul_______________________*/

/*Setam Latimea Minima A Continutului Ca Latimea Celui Mai Mare Element Din Body*/
#page_content {
  box-sizing: border-box;
  min-width: fit-content;
}

#laitmotiv_pagina {
  background: radial-gradient(rgb(255, 178, 35), rgb(255, 255, 0));
  height: fit-content;
  /*Pentru A Evita Distanta Nedorita Cu Bara De Navigare Din Cauza Pozitiei Lipicioase*/
  overflow: hidden;
}

#laitmotiv_pagina * {
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}

/*Stilizare Generala*/

h1 {
  font-size: 60px;
}

.motto1 h1,
.motto2 h1 {
  margin: 0;
}

.motto1 h1 {
  font-weight: 500;
}

#motto_enroll h4 {
  color: rgb(49, 46, 46);
}

.get_started1 button {
  width: 150px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
  border: none;
  box-shadow: 1px 1px 1px grey;
  background-color: white;
}

.get_started1 button a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Grupare Cutii In Flexboxuri*/

.aesthetic_motto_section {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 60%;
  margin: auto;
}

.aesthetic_motto_section > * {
  flex-basis: 50%;
}

#motto_enroll {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.aesthetic_motto_section figure {
  margin: 0;
  max-width: 100%;
}

.aesthetic_motto_section figure img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

/*_______________________Stilizare Sectiune Video De Prezentare Si Prezentare Text_______________________*/

#wrapper_description_video_written
  *
  :not(
    video,
    #wrapper_written_description figure img,
    #wrapper_written_description figure,
    #written_description *
  ) {
  width: 60%;
  margin: auto;
}

#wrapper_description_video_written {
  height: fit-content;
  margin: 3% 0% 3% 0%;
}

#wrapper_description_video_written > * > * {
  margin: auto;
}

video {
  display: block;
  width: 100%;
}

.title_of_description {
  padding-bottom: 2%;
}

.video_of_description {
  width: 82%;
  padding-top: 3%;
  border-top: 1px solid rgb(252, 130, 16);
}

/*Evitare Preluare Width 100% Imagine Standard, Limitare La 100% Din figure, care este limitat la 50% Din Containerul Flexbox*/
#wrapper_description_video_written #wrapper_written_description figure img {
  max-width: 100%;
}

/*Conditii Preliminare Dimensiuni Si Acoperire Imagine*/
#wrapper_written_description figure img {
  height: 80%;
  object-fit: fill;
}

/*Setare Procent De Ocupare A Intregului Container Flexbox Si Creare Continut Flexbox Continut Scris*/
#wrapper_written_description {
  line-height: 1.8em;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  display: flex;
  padding-top: 6%;
}

#wrapper_written_description figure {
  margin: 0;
  flex-basis: 50%;
}

#written_description {
  flex-basis: 50%;
}

/*Stilizare Scris*/
.title_of_description h2 {
  font-size: 37px;
  font-weight: 600;
  color: rgb(39, 36, 36);
  text-align: center;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}

#written_description h1 {
  display: block;
  margin-bottom: 10%;
  margin-top: 0%;
  font-size: 28px;
  font-weight: 600;
}

#written_description h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: fit-content;
  background-color: rgb(235, 235, 235);
  font-size: 16px;
  height: 75px;
  border-radius: 10px;
}

#written_description span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(46, 44, 44);
}

/*Stilizare Buton*/
.get_started2 {
  display: flex;
  justify-content: center;
}

.get_started2 button {
  width: 25%;
  background-color: rgb(106, 20, 187);
  height: 50px;
  border-radius: 8px;
  border: none;
}

.get_started2 button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/*_______________________Stilizare Rave Reviews_______________________*/
#wrapper_rave_reviews > * {
  width: 60%;
  margin: auto;
}

/*Stilizare Continut*/
#wrapper_rave_reviews {
  background-color: rgb(238, 238, 238);
  height: fit-content;
  padding-bottom: 2%;
}

#title_rave_reviews {
  padding-top: 10px;
  padding-bottom: 20px;
}

#title_rave_reviews h1 {
  font-size: 32px;
  color: rgb(68, 67, 67);
  text-align: center;
}

#rave_reviews div {
  margin: 0;
  width: 25%;
  height: fit-content;
  background-color: white;
  border-radius: 3%;
  box-shadow: 1px 1px 1px black;
  word-break: break-word;
}

#rave_reviews blockquote {
  margin: 0;
  padding: 5%;
  color: rgb(61, 61, 61);
  font-family: Open Sans, Arial, sans-serif;
  word-spacing: 3px;
  line-height: 1.5em;
}

#rave_reviews cite {
  display: block;
  margin-top: 10%;
}

/*Creare Flexbox Review-uri*/
#rave_reviews {
  display: flex;
  justify-content: space-around;
}

/*_______________________Stilizare Time Saving Solutions_______________________*/
#wrapper_solutions_product > * {
  width: 60%;
  margin: auto;
  font-family: Open Sans, Arial, sans-serif;
}

#wrapper_solutions_product {
  padding-bottom: 5em;
}

#wrapper_solutions_product {
  background: radial-gradient(rgb(255, 178, 35), rgb(255, 255, 0));
}

#title_solution_section > * {
  text-align: center;
  margin: 0;
  color: rgb(58, 58, 58);
}

#title_solution_section h3 {
  opacity: 30%;
  padding-top: 16px;
  padding-bottom: 30px;
}

#title_solution_section h2 {
  font-size: 32px;
  padding-bottom: 50px;
}

/*Stilizare Elemente Grid Si Flex*/
#solutions_of_product div {
  display: flex;
  min-height: fit-content;
  min-height: 8em;
  padding: 0.5em;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  color: rgb(58, 58, 58);
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  border-radius: 5%;
}

#solutions_of_product {
  row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(5, 16%);
  justify-content: space-evenly;
}

/*_______________________Stilizare Why Choose Us?_______________________*/

#wrapper_motivation {
  width: 60%;
  margin: auto;
}

#wrapper_motivation figure {
  margin: 0;
  max-width: 100%;
}

#wrapper_motivation figure img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

#wrapper_motivation {
  display: flex;
}

#wrapper_motivation > * {
  flex-basis: 50%;
}

/*Stilizare Text*/
#motivation_written {
  padding-top: 5em;
  color: rgb(58, 58, 58);
}

#motivation_written h3 {
  opacity: 20%;
}

#motivation_written h2 {
  font-size: 26px;
  line-height: 0.8em;
}

#motivation_written h6 {
  line-height: 1.5em;
  font-size: 14px;
}

/*_______________________Stilizare Book_Zoom_______________________*/
#wrapper_book_zoom > * {
  width: 60%;
  margin: auto;
}

#book_zoom {
  display: flex;
  justify-content: center;
}

/*Stilizare Continut*/

#wrapper_book_zoom {
  background: linear-gradient(to right, white, rgb(145, 145, 145));
  color: rgb(58, 58, 58);
  padding: 3em 0 3em 0;
}

#book_zoom button {
  width: 200px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
  background-color: rgb(111, 9, 206);
  border: none;
}

#book_zoom button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#book_zoom button:hover {
  cursor: cell;
  box-shadow: 3px 3px 3px gold;
}

#book_zoom button a:hover {
  cursor: cell;
}

/*_______________________Stilizare HallMark Final_______________________*/
#wrapper_final_hallmark {
  background: linear-gradient(to top, #c31432, #240b36);
}

#wrapper_final_hallmark > * {
  width: 60%;
  margin: auto;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

#wrapper_final_hallmark h2 {
  font-weight: 900;
}

/*_______________________Stilizare Footer_______________________*/
#wrapper_footer {
  width: 60%;
  margin: auto;
}

#wrapper_footer {
  display: flex;
  justify-content: space-between;
}

#social_media img {
  width: 32px;
  height: 32px;
}

footer * {
  color: rgb(58, 58, 58);
  font-weight: 600;
}

footer h2 {
  margin: 0;
  padding-left: 4em;
}

footer {
  padding: 2em 0 2em 0;
  height: fit-content;
  background: radial-gradient(#38a2d7, #561139);
  border-top: 1px solid black;
}

footer nav {
  height: fit-content;
  width: 30%;
}

footer nav div {
  display: flex;
  height: 35px;
  min-height: fit-content;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  text-align: center;
  word-break: break-word;
}

footer nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
