*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    max-width: 100%;

}
#logo{
    width: 100px;
    height: 80px;
    padding-left: 180px;
    padding-top: none;
    margin: 0px;
}
#page_navigation ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}
#page_navigation li a:hover{
    color: gray;
}
#page_navigation a.activ
{
    color: orange;
}
#page_navigation ul li{
    display: inline;
    padding: 11px;
    list-style-type: none;
    font-size: 0.9em;
}
#page_navigation ul {
    padding-top: 10px;
    padding-left: 110px;
}
#taskbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
}


#container{
    background-color: rgb(255, 225, 0);
    width: 100%;
    height: 350px;
}
body {
    margin: 0;
    padding: 0;
}
#titlu{
    font-weight: bold;
    font-size: 50px;
    margin-left: 175px;
    padding-top: 150px;
    letter-spacing: 0.03rem;
}
#descriere{
    font-size: 18px;
    margin-left: 175px;
    padding-top: 20px;
    letter-spacing: 0.03rem;
    font-weight: bolderx;
}


#paragrafe{
    padding-left: 175px;
    width: 510px;
}
#titlu1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(62, 62, 62);
    padding-top: 30px;
}
#paragraf1{
    font-size:  16px;
    padding-top: 30px;
    color: rgb(82, 82, 82);
    line-height: 1.6;
}
#paragraf2{
    font-size:  16px;
    padding-top: 30px;
    color: rgb(82, 82, 82);
    line-height: 1.6;
}
#paragraf3{
    font-size:  16px;
    padding-top: 30px;
    color: rgb(82, 82, 82);
    line-height: 1.6;
}
#paragraf4{
    font-size:  16px;
    padding-top: 60px;
    color: rgb(82, 82, 82);
    line-height: 1.6;
}
#container_poza{
    display: flex;
    width: 100%;
}
#poza_dreapta{
    padding-top: 35px;
    padding-left: 40px;
    width: 510px;
    height: 510px;
}




#lista ul li {
    font-size:  17px;
    color: rgb(82, 82, 82);
    list-style: none; 
    display: flex;   
    align-items: center; 
    gap: 12px; 
}

#lista ul li::before{
    content: "";
    width: 28px;       
    height: 28px;
    background-image: url('./AboutPage_content/Valid-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 auto;
}

#lista ul {
    padding-left: 210px;
    padding-top: 40px;
    padding-bottom: 60px;
}






#patrate{
    background-color: rgb(255, 225, 0);
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;    
    padding: 40px 0;         
}
#titlup{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-top: 0;
    margin: 0 0 20px 0; 
    padding-bottom: 50px;
}
#ptr div {
    background-color: white;
    display: flex;
    min-height: fit-content;
    min-height: 8em;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 600;
    color: rgb(103, 103, 103);
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    border-radius: 5%;
}

#ptr {
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 16%);
    justify-content: space-evenly;
    padding-top: 0;   
    width: 100%;
    max-width: 1200px;      
    margin: 0 auto;
    padding-left: 0;
}





#titlu2{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    padding-top: 30px;
    margin: 0 auto;
}
#com .card2{
    background-color: white;
    max-height: fit-content;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    color: rgb(86, 86, 86);
    align-items: center;
    justify-content: center;
    word-break: break-word;
    border-radius: 2%;
    word-spacing: 0.20em;
    line-height: 1.9em;
    height: auto;
}
#com {
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 29%);
    justify-content: space-evenly;
    padding-top: 70px;
    width: 100%;        
    max-width: 1200px;  
    margin: 0 auto;    
    padding-left: 0; 
}
#comentarii{
    background-color: rgb(229, 229, 229);
    height: 780px;
}
button{
    padding: 15px 30px;
    border: none;
    border-radius: 50px; 
    background-color: #6a0dad; 
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    outline: 5px solid #6a0dad; 
    outline-offset: -5px; 
}
button a{
    text-decoration: none;
    color: white;
}
#buton{
    width: 100%;        
    max-width: 1200px;  
    margin: 0 auto;    
    padding-left: 0; 
    padding-top: 50px;
    display: flex;         
    justify-content: center; 
    align-items: center;  
}

.creator{
    font-weight: bold;
    padding-top: 30px;
}
.spec{
    line-height: 1em;
    padding-bottom: 30px;
}



#galben{
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 250px;
}
#descriere2{
    font-weight: 1000;
    font-size: 35px;
    padding-left: 175px;
    padding-top: 60px;  
    line-height: 1.1em;
    color: rgb(56, 56, 56);
}


#cont{
    background-color: rgb(255, 225, 0);
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 29%);
}
#stanga{
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    padding-left: 220px;
    padding-top: 25px;  
    line-height: 1.1em;
    color: rgb(56, 56, 56);
}
#dreapta li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
#dreapta li a:hover{
    color: gray;
}
#dreapta li {
    display: inline-table;
}
#dreapta ul {
    line-height: 2.2em;
}
#dreapta{
     display: flex;
     flex-direction: column; 
     align-items: flex-end;  
     justify-content: flex-start;
     text-align: right;     
     padding-right: 20px;  
     margin-top: -10px;     
}
#mijloc img{
    width: 30px;
}
#mijloc{
    padding-left: 0; 
    display: flex;        
    justify-content: center; 
    align-items: center;     
    text-align: center;  
    margin-top: -100px;     
}