*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    max-width: 100%;

}
#logo{
    width: 100px;
    height: 80px;
    padding-left: 180px;
    padding-top: none;
    margin: 0px;
}
#page_navigation ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}
#page_navigation a.activ
{
    color: orange;
}
#page_navigation li a:hover{
    color: gray;
}
#page_navigation li a:focus{
    color: orange;
}
#page_navigation ul li{
    display: inline;
    padding: 11px;
    list-style-type: none;
    font-size: 0.9em;
}
#page_navigation ul {
    padding-top: 10px;
    padding-left: 110px;
}
#taskbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
}





#container{
    background-color: rgb(255, 225, 0);
    width: 100%;
    height: 330px;
}
body {
    margin: 0;
    padding: 0;
}
#titlu{
    font-weight: bold;
    font-size: 50px;
    padding-left: 175px;
    padding-top: 150px;
    letter-spacing: 0.03rem;
}
#descriere{
    font-size: 18px;
    padding-left: 175px;
    padding-top: 20px;
    letter-spacing: 0.03rem;
}






#patrate{
    background-color: rgb(239, 239, 239);
    width: 100%;
    height: 1430px;
}
#ptr div {
    background-color: rgb(255, 255, 255);
    min-height: fit-content;
    min-height: 8em;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 600;
    color: rgb(103, 103, 103);
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    border-radius: 3%;
    display:grid;
    padding-bottom: 40px;
}

#ptr {
    row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 29%);
    justify-content: space-evenly;
    padding-top: 70px;
    width: 1200px;
    padding-left: 100px;
}

#ptr div img {
    width: 125px;
    padding-bottom: 0px;
    padding-top: 20px;
}



#buton button{
    padding: 15px 30px;
    border: none;
    border-radius: 50px; 
    background-color: #6a0dad; 
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    outline: 5px solid #6a0dad; 
    outline-offset: -5px; 
}
#buton{
    padding-left: 625px;
    padding-top: 75px;
    padding-bottom: 75px;
}






#galben{
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 250px;
}
#descriere2{
    font-weight: 1000;
    font-size: 35px;
    padding-left: 175px;
    padding-top: 80px;  
    line-height: 1.1em;
    color: rgb(0, 0, 0);
}
#buton2 button{
    padding: 20px 35px;
    border: none;
    border-radius: 50px; 
    background-color: rgb(255, 217, 0); 
    color: rgb(0, 0, 0);
    font-size: 0.9em;
    font-weight:400;
    cursor: pointer;
    outline: 2px solid #000000; 
    outline-offset: -5px; 
}
#buton2 {
    padding: 90px 85px;
}
#disp{
    display: inline-flex;
}
button a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}



#cont{
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(3, 29%);
}
#stanga{
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
    padding-left: 220px;
    padding-top: 25px;  
    line-height: 1.1em;
    color: rgb(56, 56, 56);
}
#dreapta li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
#dreapta li a:hover{
    color: gray;
}
#dreapta li {
    display: inline-table;
}
#dreapta ul {
    line-height: 2.2em;
}
#mijloc img{
    width: 30px;
}
#mijloc{
    padding-top: 20px;  
    padding-left: 200px;
}