*{
    font-family: 'Courier New', Courier, monospace;
}
/*Stilizare bara navigare*/
.imagine{
    width: 169px;
    height: 46px;
}
.prima, .adoua, .navigare1, .navigare2{
    display: inline;
}
a{
    color: gray;
    text-decoration: none;
    padding-bottom: 10px;
}
a:hover{
    color: white;
}
#lista{
    text-transform: uppercase;
    background-color: #222;
}

.navigare1{
    text-align: left;
}
.navigare2{
    text-align: right;
}
.foto{
    width: 30px;
    height: 30px;
}