*{
    font-family: 'Courier New', Courier, monospace;
}
/*Stilizare bara navigare*/
.imagine{
    width: 169px;
    height: 46px;
}
.prima, .adoua, .navigare1, .navigare2, #conexiuni, #logare, h1, #cautare, .col{
    display: inline;
}

#coloanastanga, #coldreapta{
    display: inline-block ;
}
a{
    color: gray;
    text-decoration: none;
    padding-bottom: 10px;
}
a:hover{
    color: white;
}
#lista{
    text-transform: uppercase;
    background-color: #222;
}

.navigare1{
    text-align: left;
}
.foto{
    width: 30px;
    height: 30px;
}
#logare{
    text-align: right;
}
/*A doua bara de navigare*/

.navigare3{
    text-transform: uppercase;
    background-color: #333333;
    text-align: center;
    word-spacing: 9px;
}
.atreia{
    display: inline;
}

#lista2{
    margin-top: -17px;
}

/*Pagina in sine*/

#descriere{
    font-family: 'Times New Roman', Times, serif;
}
#collection{
    border-bottom: 2px solid #474747;
}

#coloanastanga{
    width: 18rem;
    min-width: 18rem;
    padding-top: 2rem;
    padding-right: 2.5rem;
    border-right: 0.2rem solid transparent;
}

#webcrawl, .linc{
    color: blue;
    
}
#webcrawl:hover{
    color: red;
}
.linc:hover{
    color: red;
}
#coldreapta{
    width: 70%;
}
figure{
    display: inline-block;
    color: white;
    text-align: center;
    margin: 12px;
}
.buton{
    background-color: black;
    color: white;
    border-radius: 22px;
}
#adv{
    text-align: right;
}
#metadata, #adv{
    display: inline;
}
#srt{
    width: 100%;
}
.fi{
    background-color: #494848;
    width: 171px;
    height: 147px;
    margin: 7px;
    border-radius: 12px;
}
.fic{
    color: rgb(255, 255, 255);
}
.poz{
    width: 121px;
    height: 82px;
}
#aa{
    color: blue;
}
.primalinie, .adoualinie, .atreialinie, .apatralinie{
    display: inline-flex;
}
.fi:hover{
    background-color: rgba(81, 87, 87, 0.415);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     
}