.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}


.detalii {
    max-width: 450px;
    text-align: center;
}


.stanga {
    max-width: 300px;
}

.stanga img {
    width: 100%;
    border-radius: 10px;
}


.dreapta {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
}

.dreapta img {
    width: 100%;
    border-radius: 10px;
}
.submit-button:hover {
    background: #555;
}
 /* .contact {
 position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding: 0 0;
  color: white;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.596);
  }      */

   footer {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center; 
}
.reservation-form input[type="email"],
.reservation-form input[type="date"] {
    flex: 2; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box;
}
.detalii {
    max-width: 450px;
    text-align: center; 
}

.detalii h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.detalii p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center; 
}
.reservation-form-container {
    max-width: 500px; 
    margin: 40px auto; 
    padding: 20px;
    background-color: white; 
    border-radius: 10px;
}

.reservation-form h2 {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.reservation-form p {
    display: flex; 
    align-items: center;
    margin-bottom: 15px;
}

.reservation-form label {
    flex: 1; 
    font-weight: bold;
    color: #555;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
